<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<title>Main page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 

</head>
<body>	
		<h1>Phones4Cash</h1>
		<h2>Welcome to our sites!</h2>
		<a href="/phoneslist" class="btn btn-success" >List of Phones</a>
		<br>
		<br>
		<a href="/logout" class="btn btn-danger">Log out</a>
</body>
</html>