<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<title>List of Phones</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 

</head>
<body>
	
   <table class="table table-hover">
   	<tr>
   	<!-- Näkyvät tietojen pohjat. -->
   			<th>Make</th>
   			<th>Model</th>
   			<th>Capacity</th>
   			<th>Year</th>
   			<th>Price</th>
   			<th>Condition</th>
   	</tr>
   	<!-- Haetaan tiedot Phone.java:sta ja määritetään kenellä oikeudet poistaa/muokata -->
        <tr th:each="phone : ${phone}">
            <td th:text="${phone.make}"></td>
            <td th:text="${phone.model}"></td>
            <td th:text="${phone.capacity}"></td>
            <td th:text="${phone.makeYear}"></td>
            <td th:text="${phone.price}"></td>
            <td th:text="${phone.phonecondition.name}"></td>
            <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${phone.id})}" class="btn btn-primary">Edit</a></td>
            <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${phone.id})}" class="btn btn-danger">Delete</a></td>
        </tr>
    </table>
<br>
<!-- Palauttaa puhelimen lisäys välilehdelle -->
<td>Condition of each phone comes from the looks of the phone and condition of the battery and other components</td><br><br>
<a href="/add" class="btn btn-primary">Add phone</a> <td>Want to list your phone? (Currently only for ADMIN users!)</td>
<br>
<br>
<!-- Palauttaa pääsivulle -->
<a href="/mainpage" class="btn btn-primary">Main page</a> <td>Takes you back to our main page.</td>
</body>
</html>